---
layout: homepage
---
<header class="site-header">

  <div class="wrapper">

    <h1>{{ site.title }}</a>

  </div>

</header>
<div class="home">

  <p>I used to have a fancy blog but it was kinda dull and generic so I made this. Stuff I made that might be intresting follows.</p>

  <h2 class="page-heading">Words</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2 class="page-heading">Code</h2>

  <ul class="post-list">
    {% for project in site.data.projects %}
      <li>
          <a class="post-link" href="{{ project.link}}">{{ project.name }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
