---
layout: default
---

<p>
  Hi I'm Philip Hayton a contract software engineer, also known as gotbadger
  online and I like to make stuff.
</p>

<h2 class="page-heading">Projects</h2>
<div id="projects">
  {% for project in site.data.projects %}
  <h3><a class="post-link" href="{{ project.link}}">{{ project.name }}</a></h3>
  <p>{{project.description}}</p>
  {% endfor %}
</div>

<h2 class="page-heading">Words</h2>
<p>
  I usually prefer to create self contained projects than write but when I do it
  ends up here.
</p>
{% assign posts = site.posts | sort: 'date' %}
<ul class="post-list">
  {% for post in site.posts %}
  <li>
    {{ post.date | date: "[%Y-%m-%d]" }}
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"
      >{{ post.title }}</a
    >
  </li>
  {% endfor %}
</ul>
